@use "./var.scss" as *;

body {
  margin: 0;
}

.main-container {
  min-height: calc(100vh - $nav-height);
  width: 100%;
  background-color: var(--td-bg-color-page);
}

.tool-title {
  font-size: var(--td-font-size-title-large);
  color: var(--td-text-color-primary);
  height: $title-height;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}