$nav-height: 56px;
$title-height: 50px;
:root {
  --nav-bg: rgba(255, 255, 255, 0.6);
  --nav-item-font-color: #174bf4;
  --nav-item-bg: #edf0ff;
  --home-icon: #174bf4;
  --home-icon-shadow: #8ea8ff;
  --card-shadow: 0 6px 16px rgba(0, 45, 114, 0.15);
  --card-shadow-hover: 0 10px 25px rgba(0, 45, 114, 0.1);
  --card-glass-bg: rgba(204, 222, 255, 0.4);
  --main-glass-bg: rgba(238, 238, 238, 0.4);

  --gradient-glass: linear-gradient(33deg, rgb(167 172 244 / 0.09) 0%, rgb(11 135 237 / 0.1) 100%);
  --gradient-border: #ddeafa;
}

:root[theme-mode='dark'] {
  --nav-bg: rgba(35, 35, 35, 0.6);
  --nav-item-font-color: #00ffff;
  --nav-item-bg: #293b3b;
  --home-icon: #00ffff;
  --home-icon-shadow: rgba(177, 255, 255, 0.7);
  --card-shadow: 0 6px 16px 1px rgba(170, 253, 255, 0.15);
  --card-shadow-hover: 0 10px 25px 1px rgba(170, 253, 255, 0.15);
  --card-glass-bg: rgba(10, 21, 50, 0.7);
  --main-glass-bg: rgba(24, 24, 24, 0.4);

  --gradient-glass: linear-gradient(33deg, rgb(255 255 255 / 0.09) 0%, rgb(19 83 220 / 0.1) 100%);
  --gradient-border: #213959;
}
